<div class="card-project grid-item <%= card.selector %> idx-<%= idx %>" data-toggle="modal" data-target="#modal-project-<%= idx %>">
  <div class="padd">
    <div class="img-container">
      <%= image_tag card.image %>
    </div>
    <div class="text-padd">
      <div>
        <h3><%= titre %></h3>
      </div>
      <div>
        <h4><%= card.text %></h4>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-project-<%= idx %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-container">

        <div class="modal-banner">
          <h2 class="modal-title" id="myModalLabel"><%= modal.title %></h2>
          <%= image_tag modal.img_banner %>
        </div>

        <div class="modal-description">
          <div class="left-col flex1">
            <div>
              </strong><h4><%= modal.description.title_left_1.titleize %></h4></strong>
              <p><%= modal.description.text_left_1 %></p>
            </div>
            <div>
              <strong><h4><%= modal.description.title_left_2.titleize %></h4></strong>
              <p class="categories-tags"><%= modal.description.text_left_2 %></p>
            </div>
          </div>
          <div class="middle-col flex2">
            <div>
              <strong><h4><%= modal.description.title_middle.capitalize %></h4></strong>
              <p><%= modal.description.text_middle %></p>
            </div>
          </div>
          <div class="right-col flex1">
            <div>
              <strong><h4><%= modal.description.title_right.titleize %></h4></strong>
              <p><%= modal.description.text_right %></p>
            </div>
          </div>
        </div>

        <div class="modal-body">
          <% modal.body.each do |item| %>
          <% if item[0].include? "title" %>
          <h2 class="text-center"><%= item[1] %></h2>
          <% elsif item[0].include? "sub" %>
          <h4 class="text-center"><%= item[1] %></h4>
          <% elsif item[0].include? "image" %>
          <%= image_tag item[1] %>
          <% else %>
          <div class="paragraph"><p><%= item[1] %></p></div>

          <% end %>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>

