<div class="navbar-portfolio " id="top">

  <div class="navbar-portfolio-content fade-in hidden-xs hidden-sm">
      <div class="logo">
        <% link_to "/", class: "navbar-portfolio-brand" do %>
        <%= image_tag "am_logo.svg" %>
        <% end %>
      </div>
      <div class="menu wow fadeInUp" data-wow-duration="2s">
        <div class="navbar-portfolio-item navbar-portfolio-link">
          <%= link_to "SERVICES", "/services.html"%>
        </div>
        <div class="navbar-portfolio-item navbar-portfolio-link">
          <%= link_to "PROJECTS", "/projects.html"%>
        </div>
        <div class="navbar-portfolio-item navbar-portfolio-link">
          <%= link_to "HOW I WORK", "/howiwork.html"%>
        </div>
        <div class="navbar-portfolio-item navbar-portfolio-link">
          <%= link_to "ABOUT", "/about.html"%>
        </div>
        <div class="navbar-portfolio-item navbar-portfolio-link">
          <%= link_to "CONTACT", "/contact.html"%>
        </div>
      </div>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-portfolio-content show-sm hidden-md hidden-lg">
    <% link_to "/", class: "navbar-portfolio-brand" do %>
    <%= image_tag "am_logo.svg" %>
    <% end %>
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-portfolio-dropdown-menu">
        <li><%= link_to "Services", "/services.html"%></li>
        <li><%= link_to "Projects", "/projects.html"%></li>
        <li><%= link_to "How I work", "/howiwork.html"%></li>
        <li><%= link_to "About", "/about.html"%></li>
        <li><%= link_to "Contact", "/contact.html"%></li>
      </ul>
    </div>
  </div>
</div>
