<div class="content main-container">
  <div class="banner-centered text-white">
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="page-inner paragraph text-center">
            <h1>Case studies.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= partial "card" %>
    </div>
    <div class="col-xs-12 col-sm-4">
     <%= partial "card" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= partial "card" %>
    </div>
  </div>
</div> -->

<div class="gallery">
  <div class="btn-filter   button-group filter-button-group">
      <button class="button" data-filter="*">show all</button>
      <button class="button" data-filter=".cat-1">cat-1</button>
      <button class="button" data-filter=".cat-2">cat-2</button>

  </div>
  <div class="cards-project-container ">
    <div class="cards-projects grid">
      <%= partial(:card_project, :locals => {:category_nb => 1, :selector => "cat-1", :project_img => "http://placehold.it/350x150" }) %>
      <%= partial(:card_project, :locals => {:category_nb => 1, :selector => "cat-2", :project_img => "http://placehold.it/140x100" }) %>
      <%= partial(:card_project, :locals => {:category_nb => 1, :selector => "cat-2", :project_img => "http://placehold.it/200x100" }) %>
      <%= partial(:card_project, :locals => {:category_nb => 1, :selector => "cat-3", :project_img => "http://placehold.it/350x150" }) %>
      <%= partial(:card_project, :locals => {:category_nb => 1, :selector => "cat-1", :project_img => "http://placehold.it/350x150" }) %>
      <%= partial(:card_project, :locals => {:category_nb => 1, :selector => "cat-2", :project_img => "http://placehold.it/350x150" }) %>
    </div>
  </div>
</div>


